<% provide(:title, @product.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      	<p>
        <%= @product.name %>
        <%= number_to_currency(@product.price) %>
        </p>
      </h1>
    </section>
  </aside>
</div>